---
import Badge from '../components/Badge.astro';
import Welcome from '../components/Welcome.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Layout from '../layouts/Layout.astro';
import GithubIcon from '../icons/Github.astro';
import MailIcon from '../icons/Mail.astro';
import MaletinIcon from '../icons/Maletin.astro';
import LinkedinIcon from '../icons/Linkedin.astro';
import ProjectIcon from '../icons/Code.astro';
import SobreMiIcon from '../icons/SobreMi.astro';
import SocialPill from '../icons/SocialPill.astro';
import Projects from '../components/Projects.astro';
import AboutMy from '../components/AboutMy.astro';



// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Porfolio de joel perez - Desarollador i programador"
		description="Contrata a joel perez para desarrollar tus proyectos. Desarrollador web, desarrollador de software, desarrollador de aplicaciones, desarrollador de sistemas, desarrollador de bases de datos, desarrollador de aplicaciones móviles, desarrollador de aplicaciones web, desarrollador de software, etc.">
	<main class="px-4">
		<SectionContainer id="top" class="py-44 pb-100 pt-80">
			<div class="flex flex-col gap-y-4 items-center text-center">
    			<h1 class="text-white ">
					<span class="flex flex-row gap-x-4 text-5xl">
						Hola, soy 😊
						<a rel="noopener"
						class="flex justify-center items-center">
							<Badge>Readi for code</Badge>
						</a>
					</span>
					<span class="block text-8xl font-bold pb-4">Joel Pérez</span>
				</h1>
				
				<nav class="flex gap-4 mt-B flex-wrap">
					<SocialPill href="https://www.linkedin.com/in/joel-perez-de-la-casa/">
						<LinkedinIcon class="size-6"/>
						Linkedin
					</SocialPill>
					<SocialPill href="https://github.com/drepo127">
						<GithubIcon class="size-6"/>
						Github
					</SocialPill>
					<SocialPill href="https://mail.google.com/mail/u/0/?fs=1&to=jpdelacasa@gmail.com&su=Estamos+interesados+en+trabajar+contigo&body&tf=cm">
						<MailIcon class="size-6"/>
						jpdelacasa@gmail.com
					</SocialPill>
					
				</nav>
			</div>
		</SectionContainer>
		<SectionContainer id="experiencia">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<MaletinIcon class="size-7"/>
				Experiencia laboral
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="proyectos">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<ProjectIcon class="size-7"/>
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer id="sobre-mi">
			<h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<SobreMiIcon class="size-7"/>
				Sobre mi
			</h2>
			<AboutMy />
		</SectionContainer>
	</main>
	
</Layout>
