{
    <article class="mb-10 ms-6">
        <div class="flex flex-col md:flex-row items-center gap-8">
        <!-- Imagen -->
        <img
            src="https://placehold.co/600x600"
            alt="Foto mía"
            class="rounded-full w-60 h-60 md:w-80 md:h-80"
        />

        <!-- Contenido -->
        <div>
            <p class="mb-4 text-base font-normal text-gray-200 text-pretty dark:text-gray-400">
                ¡Hola! Soy <strong>Joel Pérez</strong>, tengo 20 años y soy un apasionado del desarrollo de aplicaciones y el diseño web. Actualmente estoy finalizando mis estudios de <strong>Grado Superior en Desarrollo de Aplicaciones Multiplataforma</strong>. A lo largo de mi formación, he adquirido experiencia en el desarrollo <strong>full stack</strong>, trabajando con tecnologías como <strong>JAVA, KOTLIN, REACT</strong>, y explorando tanto el front-end como el back-end.
                <br><br>
                Me encanta aprender y mejorar constantemente. Mi objetivo es seguir expandiendo mis conocimientos en nuevos lenguajes de programación y tecnologías, siempre con el enfoque de crear soluciones innovadoras y funcionales. Me apasiona poder combinar el desarrollo técnico con un diseño atractivo y una experiencia de usuario intuitiva.
                <br><br>
                Estoy siempre en busca de nuevos desafíos que me permitan crecer profesionalmente y aportar mi visión y habilidades a proyectos reales. Si te interesa colaborar o saber más sobre mi trabajo, ¡no dudes en contactarme!
            </p>

        </div>
        </div>
    </article>
}