---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCIE = [
    {
        title: "Practicas DAM - Girosystem",
        date: "Diciembre 2025 - Actualidad",
        description: "Trabajo en practicas de grado superior. Dedicado al desarollo de un modulo de Odoo para implementar las funcionalidades de su aplicacion a traves de apis i herencia de otros modelos.",
        last: true,
    },
    {
        title: "Practicas SMX - Institut de Sils ",
        date: "December 7th, 2021",
        description: "All of the pages and components are first designed in Figma and we keep a parity between the two versions even as we update the project.",
    }
]
---



<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        EXPERIENCIE.map(experience => (
            <li class="mb-10 ms-6">
                <ExperienceItem {...experience} />
            </li>
        ))
    }                  
</ol>

