---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCIE = [
    {
        title: "Practicas DAM - Girosystem",
        date: "Diciembre 2024 - mayo 2025",
        description: `Actualmente estoy realizando prácticas de grado superior en Girosystem, centradas en el desarrollo de un módulo para Odoo.
Durante este periodo he mejorado y consolidado mis habilidades en:\n
- Desarrollo e implementación de aplicaciones en Odoo utilizando herencia de modelos existentes, creación de nuevos modelos y personalización de vistas.\n
- Integración de APIs desarrolladas en C#, permitiendo la comunicación entre Odoo y aplicaciones externas mediante endpoints personalizados.\n
- Optimización de código, refactorización de módulos y mejora de estructuras de proyecto para garantizar un código más limpio, eficiente y escalable.\n
- Diseño de interfaces de usuario intuitivas y funcionales, aplicando buenas prácticas de experiencia de usuario (UX) dentro del entorno Odoo.\n
Además, estas prácticas me han permitido familiarizarme con entornos de desarrollo ágiles y mejorar mis habilidades de comunicación técnica trabajando con otros desarrolladores.`
,
        last: true,
    },
    {
        title: "Practicas SMX - Institut de Sils ",
        date: "Diciembre 2022 - junio 2023",
        description: `
        Durante este periodo de prácticas, me encargué del mantenimiento de los ordenadores portátiles del centro educativo.
        Mis tareas incluían la revisión, limpieza, formateo y actualización de los equipos ya existentes para garantizar su correcto funcionamiento.
        Además, participé en la preparación y configuración de los nuevos dispositivos que habían llegado, dejándolos listos para su uso en el próximo curso académico.
        Estas actividades me permitieron afianzar mis conocimientos en instalación de sistemas operativos, gestión de redes locales y resolución de incidencias técnicas, así como mejorar mis habilidades en la organización y planificación de despliegues informáticos a gran escala.
        `,
    }
]
---



<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        EXPERIENCIE.map(experience => (
            <li class="mb-10 ms-6">
                <ExperienceItem {...experience} />
            </li>
        ))
    }                  
</ol>

