<footer class="flex items-center justify-center gap-x-4 py-10 text-center text-gray-400 dark:text-gray-500">
    <p>Made with ❤️ by <a href="https://drepo127.github.io/" class="text-blue-600 hover:underline">Joel Pérez</a></p>
    <p>Copyright © 2023 Joel Pérez</p>
</footer>